<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script> 
    <!-- девелопмент -->

    <!-- <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.prod.js"></script> -->
    <!-- продакшн -->

    <style>
        body { font-size: 50px; }
        div { cursor: pointer; }

        .fav {
            font-weight: bold;
        }
    </style>

</head>
<body>

    <div id="app">
        <div v-for="book in books" v-bind:class="{ fav: book.favorite == true }" @click="toggleFav(book)">{{ book.title }}</div>
        <!-- применяет к тегу класс fav все у кого  свойство book.favorite == true -->
        <hr>
        <h3>filtered: </h3>
        <div v-for="book in filteredBooks" v-bind:class="{ fav: book.favorite == true }">{{ book.title }}</div>
    </div>

    <script src="05_computed_properties.js"></script>
</body> 
</html>